*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}

@font-face {
    font-family: montserrat;
    src: url('/assets/static/Montserrat-Light.ttf');
}

.nav-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 5px 70px;
    gap: 20px;
    background-color: #F1F1FF;
}

.logo {
    width: 50%;
}
.logo > a {
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar > ul:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.navbar > ul:nth-child(1) > li > a {
    width: 100%;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.navbar > ul:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10px;
}

ul:nth-child(2) > li > a {
    color: black;
    font-size: 1rem;
    padding: 5px;
    text-decoration: none;
}
ul:nth-child(2) > li:nth-child(2) > a {
    color: white;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    background-color: #A901B8;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px lightgray;
}

.handburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    display: none;
}

.handburger > .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:650px) {
    .nav-container {
        width: 100%;
        height: fit-content;
        padding: 10px;
        border-bottom: 0.5px solid lightgray;
    }

    .nav-container > .logo {
        margin: 0%;
    }

    .logo > a {
        font-size: 1.5rem;
    }

    .navbar {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        padding: 5px;
        gap: 30px;
        top: 50px;
        left: -100%;
        transition: 0.5s ease-in-out;
        background-color: white;
    }

    .navbar > ul:nth-child(1) {
        flex-direction: column;
        margin-left: 0%;
        gap: 30px;
    }
    
    .navbar > ul:nth-child(1) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar > ul:nth-child(2) {
        flex-direction: column;
        margin-left: 0%;
        gap: 30px;
    }


    .navbar > ul:nth-child(2) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar.active {
        left: 0%;
    }

    .handburger {
        display: block;
    }

    .handburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .handburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .handburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
}

@media screen and (max-width:768px) {
    .nav-container {
        width: 100%;
        height: fit-content;
        padding: 10px;
        border-bottom: 0.5px solid lightgray;
    }

    .nav-container > .logo {
        margin: 0%;
    }

    .logo > a {
        font-size: 1.5rem;
    }


    .navbar {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        padding: 5px;
        gap: 30px;
        top: 50px;
        left: -100%;
        transition: 0.5s ease-in-out;
        background-color: white;
    }

    .navbar > ul:nth-child(1) {
        flex-direction: column;
        margin-left: 0%;
        gap: 30px;
    }
    
    .navbar > ul:nth-child(1) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar > ul:nth-child(2) {
        flex-direction: column;
        margin-left: 0%;
        gap: 30px;
    }


    .navbar > ul:nth-child(2) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar.active {
        left: 0%;
    }

    .handburger {
        display: block;
    }

    .handburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .handburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .handburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
}


.faq-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: #F1F1FF;
}

.faq-container > .faq-page {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 20px;
    background-color: white;
}

.faq-page > h2 {
    font-size: 2rem;
}

@media screen and (max-width:650px) {
    .faq-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 70px 10px;
    }
    .faq-container > .faq-page {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }
    .faq-page > h2 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:768px) {
    .faq-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 70px 10px;
    }
    .faq-container > .faq-page {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 20px;
    }
    .faq-page > h2 {
        font-size: 1.5rem;
    }
}

.faq-page > .ques-answ {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    line-height: 2rem;
}
.ques-answ > h3 {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #E7F1FF;
}
.ques-answ > p {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
}

.faq-container > p {
    font-size: 1.5rem;
}

@media screen and (max-width:650px) {
    .faq-page > .ques-answ {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ques-answ > h3 {
        padding: 10px;
        font-size: 0.9rem;
    }
    .ques-answ > p {
        padding: 10px;
        font-size: 1rem;
    }
    .faq-container > p {
        font-size: 1.1rem;
    }
}
@media screen and (max-width:768px) {
    .faq-page > .ques-answ {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ques-answ > h3 {
        padding: 10px;
        font-size: 0.9rem;
    }
    .ques-answ > p {
        padding: 10px;
        font-size: 1rem;
    }
    .faq-container > p {
        font-size: 1.1rem;
    }
}


.slide {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 50px;
    background-color: #3E4581;
}

.slide > h3 {
    width: 100%;
    font-size: 1.5rem;
    color: white;
    animation: mov 15s ease-in-out infinite reverse;
}

@keyframes mov {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media screen and (max-width:650px) {
    .slide {
        height: 100px;
        height: fit-content;
        display: flex;
        padding: 5px 0px;
        gap: 10px;
    }
    .slide > h3 {
        font-size: 0.7rem;
    }
}
@media screen and (max-width:768px) {
    .slide {
        height: 100px;
        height: fit-content;
        display: flex;
        padding: 5px 0px;
        gap: 10px;
    }
    .slide > h3 {
        font-size: 0.7rem;
    }
}

.faq-container > .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
}

.contact > h1 {
    font-size: 2.5rem;
}

@media screen and (max-width:650px) {
    .faq-container > .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        gap: 10px;
    }
    .contact > h1 {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
    }
}
@media screen and (max-width:768px) {
    .faq-container > .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        gap: 10px;
    }
    .contact > h1 {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
    }
}

.contact > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a > form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width:650px) {
  .contact > a {
    width: 100%;
    display: flex;
  }  
  a > form {
    width: 100%;
    display: flex;
    padding: 5px;
    gap: 10px;
  }
} 
@media screen and (max-width:768px) {
  .contact > a {
    width: 100%;
    display: flex;
  }  
  a > form {
    width: 100%;
    display: flex;
    padding: 5px;
    gap: 10px;
  }
} 


form > input {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}
form > button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px;
    color: white;
    background-color: #A901B8;
    border: none;
    border-radius: 10px;
}
@media screen and (max-width:650px) {
    form > input {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        padding: 5px;
    }
    form > button {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        padding: 5px;
    }
}
@media screen and (max-width:768px) {
    form > input {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        padding: 5px;
    }
    form > button {
        width: 100%;
        height: 40px;
        font-size: 1.1rem;
        padding: 5px;
    }
}

.footer-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    padding: 10px;
    background-color: #FAFBFF;
}
@media screen and (max-width:650px) {
    .footer-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
}
@media screen and (max-width:768px) {
    .footer-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
}


.footer-card > .hint-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    border-bottom: 1px solid black;
}
.hint-box > .hint:nth-child(1) {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}

.hint:nth-child(1) > a {
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-weight: bold;
    font-size: 1.4rem;
}

.hint:nth-child(1) > p {
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 2.5rem;
    color: black;
}
@media screen and (max-width:650px) {
    .footer-card > .hint-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 10px;
    }
    .hint-box > .hint:nth-child(1) {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .hint:nth-child(1) > p {
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
    }
}
@media screen and (max-width:768px) {
    .footer-card > .hint-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 10px;
    }
    .hint-box > .hint:nth-child(1) {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .hint:nth-child(1) > p {
        width: 100%;
        font-size: 1rem;
        line-height: 2rem;
    }
}

.hint-box > .hint:nth-child(2) {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    gap: 10px;
}

.hint > .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    line-height: 2rem;
    color: black;
}

.box > h4 {
    font-size: 1.3rem;
}
.box > a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    transition: 0.3s ease-in-out;
}
.box > a:hover {
    padding-left: 10px;
    color: #a901b8;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

footer {
    font-size: 1rem;
    color: black;
    padding: 20px;
}
@media screen and (max-width:650px) {
    .hint-box > .hint:nth-child(2) {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0px;
    }
    .hint > .box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        line-height: 1.3rem;
        padding: 10px;
    }
    .box > h4 {
        font-size: 1.1rem;
    }
    .box > a {
        font-size: 0.8rem;
    }
    footer {
        font-size: 0.7rem;
        padding: 10px;
    }
}
@media screen and (max-width:768px) {
    .hint-box > .hint:nth-child(2) {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0px;
    }
    .hint > .box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        line-height: 1.3rem;
        padding: 10px;
    }
    .box > h4 {
        font-size: 1.1rem;
    }
    .box > a {
        font-size: 0.8rem;
    }
    footer {
        font-size: 0.7rem;
        padding: 10px;
    }
}