*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 10px 100px;
    gap: 20px;
    background-color: lightgray;
}

.logo {
    width: 50%;
}
.logo > a {
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-size: 2.5rem;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.navbar > ul:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.navbar > ul:nth-child(1) > li > a {
    width: 100%;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.navbar > ul:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 10px;
}

ul:nth-child(2) > li > a {
    color: white;
    font-size: 1rem;
    padding: 5px;
    text-decoration: none;
}

@media screen and (max-width:650px) {
    .nav-container {
        width: 100%;
        height: fit-content;
        padding: 10px;
    }

    .nav-container > .logo {
        margin: 0%;
    }

    .logo > a {
        font-size: 1.5rem;
    }

    .navbar {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        padding: 5px;
        /* top: 50px; */
        left: -100%;
        transition: 0.5s ease-in-out;
        background-color: white;
    }

    .navbar > ul:nth-child(1) {
        flex-direction: column;
        margin-left: 0%;
        gap: 20px;
    }
    
    .navbar > ul:nth-child(1) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar > ul:nth-child(2) {
        flex-direction: column;
        margin-left: 0%;
        gap: 20px;
    }


    .navbar > ul:nth-child(2) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar.active {
        left: 0%;
    }

    .handburger {
        display: block;
    }

    .handburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .handburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .handburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
}

@media screen and (max-width:768px) {
    .nav-container {
        width: 100%;
        height: fit-content;
        padding: 10px;
    }

    .nav-container > .logo {
        margin: 0%;
    }

    .logo > a {
        font-size: 1.5rem;
    }

    .navbar {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        padding: 5px;
        /* top: 50px; */
        left: -100%;
        transition: 0.5s ease-in-out;
        background-color: white;
    }

    .navbar > ul:nth-child(1) {
        flex-direction: column;
        margin-left: 0%;
        gap: 20px;
    }
    
    .navbar > ul:nth-child(1) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar > ul:nth-child(2) {
        flex-direction: column;
        margin-left: 0%;
        gap: 20px;
    }


    .navbar > ul:nth-child(2) > li > a { 
        font-size: 1rem;
        color: black;
    }

    .navbar.active {
        left: 0%;
    }

    .handburger {
        display: block;
    }

    .handburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .handburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .handburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
}


.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    background-color: whitesmoke;
}
@media screen and (max-width:650px) {
    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 100px 20px;
    }
}
@media screen and (max-width:768px) {
    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 100px 20px;
    }
}

.register-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    gap: 100px;
}

.register-page > .text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.register-page > .text > h2 {
    font-size: 2rem;
}
.register-page > .text > p {
    font-size: 1.5rem;
}

@media screen and (max-width:650px) {
    .register-page {
        width: 100%;
        flex-direction: column;
        padding:20px 0px;
        gap: 50px;
    }
    .register-page > .text {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .register-page > .text > h2 {
        font-size: 1.5rem;
    }
    .register-page > .text > p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:768px) {
    .register-page {
        width: 100%;
        padding: 20px 0px;
        gap: 50px;
    }
    .register-page > .text {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .register-page > .text > h2 {
        font-size: 1.5rem;
    }
    .register-page > .text > p {
        font-size: 1.3rem;
    }
}

.register-page > .register {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.register > .image {
    width: 40%;
    height: 100%;
}
.register > .image > img {
    width: 100%;
    display: flex;
    object-fit: cover;
}

@media screen and (max-width:650px) {
    .register-page > .register {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }
    .register > .image {
        width: 100%;
        height: fit-content;
    }
}

.register > .text {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 200px; */
    gap: 20px;
}
.text > h3 {
    font-size: 2rem;
}
.text > p {
    font-size: 1.3rem;
    line-height: 2.5rem;
}
@media screen and (max-width:650px) {
    .register > .text {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .text > h3 {
        font-size: 1.5rem;
    }
    .text > p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width:768px) {
    .register > .text {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .text > h3 {
        font-size: 1.5rem;
    }
    .text > p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

.register-page > .fund {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.fund > .image {
    width: 40%;
    height: 100%;
}
.fund > .image > img {
    width: 100%;
    display: flex;
    object-fit: cover;
}

@media screen and (max-width:650px) {
    .register-page > .fund {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }
    .fund > .image {
        width: 100%;
        height: fit-content;
    }
    .fund > .image > img {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .register-page > .fund {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 20px;
    }
    .fund > .image {
        width: 100%;
        height: fit-content;
    }
    .fund > .image > img {
        width: 100%;
    }
}


.fund > .text {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 200px; */
    gap: 20px;
}

@media screen and (max-width:650px) {
    .fund > .text {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:768px) {
    .fund > .text {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }
}

.register-page > .success {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.success > .image {
    width: 40%;
    height: 100%;
}
.success > .image > img {
    width: 100%;
    display: flex;
    object-fit: cover;
}


.success > .text {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 200px; */
    gap: 20px;
}


@media screen and (max-width:650px) {
    .register-page > .success {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .success > .image {
        width: 100%;
        height: fit-content;
    }
    .success > .text {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:768px) {
    .register-page > .success {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .success > .image {
        width: 100%;
        height: fit-content;
    }
    .success > .text {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10px;
    }
}

.footer-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20%;
    padding: 10px;
    background-color: rgba(20, 18, 18, 0.664);
}

@media screen and (max-width:650px) {
    .footer-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
}
@media screen and (max-width:768px) {
    .footer-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
}


.footer-card > .hint-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.hint-box > .hint {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.hint:nth-child(1) > p {
    width: 70%;
    font-size: 1.3rem;
    line-height: 2rem;
    color: whitesmoke;
}
@media screen and (max-width:650px) {
    .footer-card > .hint-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 10px;
    }
    .hint-box > .hint {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .hint:nth-child(1) > p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width:768px) {
    .footer-card > .hint-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 10px;
    }
    .hint-box > .hint {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .hint:nth-child(1) > p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

.hint > .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2rem;
    color: white;
}

.box > h4 {
    font-size: 1.3rem;
}
.box > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
}

footer {
    font-size: 1.3rem;
    color: whitesmoke;
}
@media screen and (max-width:650px) {
    .hint > .box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        line-height: 1.5rem;
    }
    .box > h4 {
        font-size: 1.1rem;
    }
    .box > a {
        font-size: 0.8rem;
    }
    footer {
        font-size: 1rem;
        padding: 10px;
    }
}
@media screen and (max-width:768px) {
    .hint > .box {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        line-height: 1.5rem;
    }
    .box > h4 {
        font-size: 1.1rem;
    }
    .box > a {
        font-size: 0.8rem;
    }
    footer {
        font-size: 1rem;
        padding: 10px;
    }
}